<h1 style="text-align:center">Create Your Dream House</h1>
<p style="text-align:center">This is added tester text</p>

<%= link_to "Sign Up Here", signup_path %> |
<%= link_to "Log In Here", '/login' %> 